.bgimage {
    background-image: url('../assets/homepage/bgimage.svg');
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
  
  }

  .herobg {
    background-image: url('../assets/homepage/herobg.svg');
       background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
  }