@import "tailwindcss";

body {
    font-family: 'DM Sans', sans-serif;
}

/* .bgimage4 {
    background-image: url('../assets/Registration/bg.png');
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
  } */




 