@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}
@theme {
  --color-flag-green: #15411f;
  --color-grayish:  #00000075
}

body {
  font-family: "DM Sans", sans-serif;
}

/* .bgimage4 {
    background-image: url('../assets/Registration/bg.png');
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
  } */
